---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}

Highlighted research projects:
1. Listen to health: acoustic AI for public respiratory health screening
o	Collected the largest respiratory audio dataset [12] (shared with 400 institutes)
o	Designed the first audio-driven COVID-19 predicting model [1, 19] (600+ citations)
o	Proposed the first open-source respiratory foundation model [8]
2. Modelling Electrocardiograms for cardiovascular disease prediction 
o	Contributed confidence-aware models to diagnose arrhythmia from wearable ECGs [2,10]  
o	Multi-modal LLMs for ECG interpolation [37]
o	Privacy-preserving ECG model training via federated learning [9, 54]
3. Mobility tracking and intervention for epidemic control   
o	Proposed the first personal mobility data enhancement algorithm [16]  
o	Designed personalized mobility intervention strategy to mitigate infection risk [18, 26, 42] 
4. Urban environment and public health 
o	Curated the first open dataset for environmental determinants of health [24]
o	Using remote sensing to understand the urban environment that affects health [39, 43]
o	Modelling and predicting of urban dynamics [5, 21]


  <div class="wordwrap">You can also find my articles on <a href="{{https://scholar.google.com/citations?hl=en&user=A7QsKzUAAAAJ&view_op=list_works&sortby=pubdate}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
