---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}

Highlighted research projects:
1. Listen to health: acoustic AI for public respiratory health screening
   - Collected the largest respiratory audio dataset (NeurIPS'21) (shared with 400 institutes)
   - Designed the first audio-driven COVID-19 predicting model (KDD'20, NPJ Digital Medicine'22) (600+ citations)
   - Proposed the first open-source respiratory foundation model (NeurIPS'24)
2. Modelling Electrocardiograms for cardiovascular disease prediction
   - Contributed confidence-aware models to diagnose arrhythmia from wearable ECGs (IEEE JBHI'24)
   - Multi-modal LLMs for ECG interpolation
3. Mobility tracking and intervention for epidemic control
   - Proposed the first personal mobility data enhancement algorithm (AAAI'20)
   - Designed personalized mobility intervention strategy to mitigate infection risk (IEEE Big Data'22, KDD'23)
4. Urban environment and public health
   - Curated the first open dataset for environmental determinants of health (Scentific Data'23)
   - Using remote sensing to understand the urban environment that affects health (SIGSPATIAL'23)
   - Modelling and predicting of urban dynamics (UbiComp'19)
5. Decentralized machine learning for privacy-sensitive health data
   - Federated learing (KDD'24, ICASSP'23)

<div class="wordwrap">
   You can also find my publications on 
   <a href="https://scholar.google.com/citations?hl=en&amp;user=A7QsKzUAAAAJ&amp;view_op=list_works&amp;sortby=pubdate">my Google Scholar profile</a>.
</div>

{% endif %}

{% include base_path %}
